.Navbar {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: white;
}

.Menu a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: inline-block;
}

li {
    text-underline-offset: 0.3em;
}

.Menu>ul:nth-child(1)>li:not(.logo):hover {
    background-color: rgb(248, 248, 248);
}

.Menu>ul a:not(.logo):hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
}

.Menu>ul,
.controls>ul {
    list-style: none;
    display: flex;
}

.controls>ul>li {
    margin-right: 15px;

}

.Menu li:not(.logo) {
    position: relative;
}

.Menu>ul>li {
    font-weight: 500;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.Menu>ul li:nth-child(1) {
    font-weight: bold;
    font-size: 17px;
}

.this-just-in,
.Women,
.Men,
.OurStory {
    position: absolute;
    top: 100%;
    background-color: rgb(248, 248, 248);
    width: 100vw;
    margin-left: calc(100vw - 118vw);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
    z-index: 99;
}


.Menu li:nth-child(2):hover .this-just-in {
    opacity: 1;
    visibility: visible;
}

.Menu li:nth-child(3):hover .Women {
    opacity: 1;
    visibility: visible;
}

.Menu li:nth-child(4):hover .Men {
    opacity: 1;
    visibility: visible;
}

.Menu li:nth-child(5):hover .OurStory {
    opacity: 1;
    visibility: visible;
}
.Navbar .mobile-view{
    display: none !important;
}
@media only screen and (max-width: 850px) {
    .Navbar .web-view{
        display: none !important;
    }
    .Navbar .mobile-view{
        display: flex !important;
    }
}
.offcanvas-body{
    padding: 0;
}
.OffCanvasBody{
background-color: #EBECEE;
}
.OffCB-Navitems{
    width: 25%;
}
.OffCanvasBody-Body{
    height: 91.5%;
}