 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .logo img {
            width: 250px;
            margin-right: 70px;
        }

        .image {
            display: inline-block;
            width: 100%;
            height: 41em;
            background-image: url('1.jpg');
            background-size: cover;
        }

        ul {
            list-style: none;
        }
        li{
            cursor: pointer;
        }

        .main {
            background-color: rgb(36, 36, 36);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .list>ul {
            color: white;
            display: flex;
        }

        .list ul>li {
            padding: 10px 20px;
            position: relative;
            transform: skew(-4deg);
        }

        .listitem>ul{
            position: absolute;
            top: 150%;
            left:50%;
            visibility: hidden;     /*If you don't give visibility hidden, the multilist will appear even if you dont click on the list item, 
            because the list is their, its just the opacity is down so if you hover on the place where the multilist was before, the list will appear */
        }

        .listitem>ul>li, .pali-item>ul>li{
            padding: 10px 120px 10px 10px;
            text-align: center;
            background-color: rgba(52, 148, 244,0.7);
            /* margin:2px; */
            border:2px solid transparent;
            transition: all 0.4s;
            top:0px;
            left:0px;
            opacity: 0;
            
            background-clip: padding-box;
        }

        .listitem li:hover{
            background-color: rgba(3, 107, 211, 0.7);
        }

        .pali-item ul{
            position: absolute;
            visibility: hidden;
        }
        .pali-item>ul>li{
            top:-20px;
            left:140%;
            opacity: 0;
        }

        .listitem>ul>li:nth-child(2){transition: top 0.4s 0.1s,opacity 0.4s 0.1s,background-color 0s 0s;}
        .listitem>ul>li:nth-child(3){transition: top 0.4s 0.2s,opacity 0.4s 0.2s,background-color 0s 0s;}
        .listitem>ul>li:nth-child(4){transition: top 0.4s 0.3s,opacity 0.4s 0.3s,background-color 0s 0s;}
        .list>ul>li:hover .listitem>ul{visibility: visible;}
        .list>ul>li:hover .listitem>ul>li{opacity: 1;top:-20px}

        .pali-item>ul>li:nth-child(2){transition: left 0.4s 0.1s,opacity 0.4s 0.1s,background-color 0s 0s;}
        .pali-item>ul>li:nth-child(3){transition: left 0.4s 0.2s,opacity 0.4s 0.2s,background-color 0s 0s;}
        .pali-item>ul>li:nth-child(4){transition: left 0.4s 0.3s,opacity 0.4s 0.3s,background-color 0s 0s;}
        .listitem>ul>li:hover .pali-item>ul{visibility: visible;}
        .listitem>ul>li:hover .pali-item>ul>li{opacity: 1;left:94%}

        
        
