.main{
    height: 700px;
    width: 1300px;
    margin: auto;
}
h1{
    text-align: center;
    color:white;
}
body{
    background-color: rgb(43, 45, 47);
    font-family: Arial, Helvetica, sans-serif;
}

.main div{
    background-color: aqua;
    width:29%;
    height: 40%;
    margin: 1%;
    float: left;
    text-align: center;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    color:rgb(213, 211, 211);
    padding: 1%;
}

img{
    height: 25%;
    margin-top: 5%;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out; 
}

p{
    line-height: 150%;
}


.main div:hover img{
transform: translate(0,-10px);
}

h3{
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;  
}
.main div:hover h3{
    color:#2699FB;
}