* {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Popup {
  width: 30%;
  height: 400px;
  background-color: rgb(255, 0, 0);
  left: 30%;
  transition: 0.4s;
  z-index: 99;
  position: absolute;
}

.close {
  position: absolute;
  right: 5%;
  top: 2%;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

button {
  position: relative;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}